<?xml version="1.0" encoding="UTF-8"?>
<Configs>
	<!-- 任务ID -->
	<taskID>17</taskID>
	<monitorTime>3000</monitorTime>
	<!-- 是否进行索引 -->
	<isLucene>0</isLucene>
	<!-- 是否应用模板 -->
	<isApplyTemplate>0</isApplyTemplate>
	<!-- 线程数 -->
	<threads>1</threads>
	<!-- 单位采集线程数 -->
	<threadGatherMax>50</threadGatherMax>
	<!-- 采取信息存储路径 -->
	<indexPath>F:\SpiderMoonLight\index</indexPath>
	<msgPath>F:\SpiderMoonLight</msgPath>

</Configs>